body{
    font-family: Arial, Helvetica, sans-serif;
}

/*Center Image - changing from inline-element to block level emelemt*/

.logo-img{
    display: block;
    margin: 0 auto;
}

div{
    padding: 20px;
}

.div_example{
    padding: 10px;
}

.center-span{
    text-align: center;
    margin: 0 auto;
}

fieldset{
    width: 120%;
    border: 1px solid rgb(211, 209, 209);
    border-radius: 3px;
    padding: 5px 25px;
    margin-bottom: 20px;
    margin-top: 0px;
}

fieldset label{
    font-size: 90%;
}

form input{
    display: block;
    width: 80%;
    padding: 5px;
    border: 1px solid gray;
    border-radius: 2px;

}